# Binaries and generated code
bin/
obj/
packages/
TestResults/

# Visual Studio user files
*.suo
*.user
*.DotSettings

# Visual Studio cache
.vs/

# Credentials
*.pubxml
Auth.config
Db.config
DbTest.config
Email.config
