@import url(https://fonts.googleapis.com/css?family=Carter+One);
@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Roboto+Mono);
@import url(https://fonts.googleapis.com/css?family=Material+Icons);
@import url(https://fonts.googleapis.com/css?family=Press+Start+2P);

* {
	font-family: Roboto, Helvetica, Arial, sans-serif;
}

body {
	background: darkgreen url(gfx/Background.png);
	margin: 0;
}

div.loading {
	padding: 5vw;
	margin: 0 auto;
}

input.hidden-submit {
	position: absolute;
	left: -9999px;
	width: 1px;
	height: 1px;
}

material-dropdown-select > dropdown-button > div.error-text {
	/* fix for broken default styling */
	margin-top: 4px;
}

@media (max-width: 700px) {
	body {
		/* background is pointless on small screen since nobody will see it */
		background: white;
	}
}
