<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dapper" version="2.0.123" targetFramework="net462" />
  <package id="Dapper.Contrib" version="2.0.78" targetFramework="net462" />
  <package id="DryIoc.dll" version="5.1.0" targetFramework="net462" />
  <package id="DryIoc.WebApi.dll" version="4.1.0" targetFramework="net462" />
  <package id="Microsoft.AspNet.Cors" version="5.2.9" targetFramework="net462" />
  <package id="Microsoft.AspNet.Identity.Core" version="2.2.3" targetFramework="net462" />
  <package id="Microsoft.AspNet.Identity.Owin" version="2.2.3" targetFramework="net462" />
  <package id="Microsoft.AspNet.WebApi" version="5.2.9" targetFramework="net462" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.9" targetFramework="net462" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.9" targetFramework="net462" />
  <package id="Microsoft.AspNet.WebApi.Owin" version="5.2.9" targetFramework="net462" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.9" targetFramework="net462" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="3.6.0" targetFramework="net462" />
  <package id="Microsoft.IdentityModel.Abstractions" version="6.21.0" targetFramework="net462" />
  <package id="Microsoft.IdentityModel.JsonWebTokens" version="6.21.0" targetFramework="net462" />
  <package id="Microsoft.IdentityModel.Logging" version="6.21.0" targetFramework="net462" />
  <package id="Microsoft.IdentityModel.Tokens" version="6.21.0" targetFramework="net462" />
  <package id="Microsoft.Net.Compilers.Toolset" version="4.2.0" targetFramework="net462" developmentDependency="true" />
  <package id="Microsoft.Owin" version="4.2.2" targetFramework="net462" />
  <package id="Microsoft.Owin.Cors" version="4.2.2" targetFramework="net462" />
  <package id="Microsoft.Owin.Host.SystemWeb" version="4.2.2" targetFramework="net462" />
  <package id="Microsoft.Owin.Security" version="4.2.2" targetFramework="net462" />
  <package id="Microsoft.Owin.Security.Cookies" version="4.2.2" targetFramework="net462" />
  <package id="Microsoft.Owin.Security.Jwt" version="4.2.2" targetFramework="net462" />
  <package id="Microsoft.Owin.Security.OAuth" version="4.2.2" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net462" />
  <package id="NLog" version="5.0.1" targetFramework="net462" />
  <package id="NLog.Web" version="5.0.0" targetFramework="net462" />
  <package id="Owin" version="1.0" targetFramework="net462" />
  <package id="System.IdentityModel.Tokens.Jwt" version="6.21.0" targetFramework="net462" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net462" />
</packages>