@import url(https://fonts.googleapis.com/css?family=Raleway);
@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Roboto+Mono);
@import url(https://fonts.googleapis.com/css?family=Material+Icons);

* {
	font-family: Roboto, Helvetica, Arial, sans-serif;
}

body {
	background: #fefefe;
	margin: 0;
}

div.loading {
	padding: 5vw;
	margin: 0 auto;
}

input.hidden-submit {
	position: absolute;
	left: -9999px;
	width: 1px;
	height: 1px;
}

/* Remove background image on small screen - not needed currently
@media (max-width: 700px) {
	body {
		background: white;
	}
}
*/
